@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@font-face {
  font-family: "Manrope", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #eff2f8;
  font-family: 'Manrope', sans-serif;
  margin-top: 58px;
}

.p-16 {
  padding: 16px;
}

.pt-8 {
  padding-top: 8px;
}
.pt-57 {
  padding-top: 57px;
}

.mt-n58 {
  margin-top: -58px;
}

.action-bar {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
}
.action-bar.bordered {
  border-bottom: 1px solid #dadde2;
}

.icon-back {
  height: 24px;
  width: 24px;
}

.chevron-right {
  height: 24px;
  width: 24px;
}

.title-bar {
  color: #242424;
  font-size: 16px;
  font-weight: bold;
}

.content {
  display: block;
}

.data-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  height: max-content;
}
.data-content {
  color: #242424;
  background-color: #fff;
  display: flex;
  padding: 16px;
  text-decoration: none;
}

.image-item {
  margin-right: 16px;
}

.data-item {
  margin-bottom: 1px;
}

.image-logo {
  height: 40px;
  width: 40px;
}

.text-item {
  margin-right: 8px;
}
.text-item.d-flex {
  gap: 2px;
}

.title-item {
  font-size: 14px;
  font-weight: bold;
}

.desc-item {
  color: #f2a452;
  font-size: 12px;
  font-weight: 500;
}

.balance-item {
  color: #003478;
  font-size: 12px;
  font-weight: bold;
  margin-right: 8px;
}

.skeleton-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  height: max-content;
}
.skeleton-item {
  margin-bottom: 1px;
}
.skeleton-card {
  background-color: #fff;
  display: flex;
  padding: 16px;
  text-decoration: none;
}
.skeleton-image {
  background-color: #eff2f8;
  border-radius: 8px;
  margin-right: 16px;
  height: 40px;
  width: 40px;
}
.skeleton-text {
  margin-right: 8px;
}
.skeleton-text.d-flex {
  gap: 6px;
}
.skeleton-title {
  background-color: #eff2f8;
  height: 17px;
  width: 140px;
  border-radius: 8px;
}
.skeleton-desc {
  background-color: #eff2f8;
  height: 13px;
  width: 94px;
  border-radius: 6.5px;
}
.skeleton-balance {
  background-color: #eff2f8;
  height: 16px;
  width: 70px;
  margin-right: 8px;
}
/* .skeleton-loading {
  opacity: .8;
  animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
  0% {
    background-color: rgb(239, 242, 248);
  }
  100% {
    background-color: rgb(220, 223, 230);
  }
}
@-webkit-keyframes skeleton-loading {
  0% {
    background-color: rgb(239, 242, 248);
  }
  100% {
    background-color: rgb(220, 223, 230);
  }
} */

.skeleton-loading {
  background: #eff2f8;
  background: linear-gradient(120deg, #eff2f8 10%, #e6e9ef 38%, #eff2f8 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  -webkit-animation: 1.8s shimmer linear infinite;
          animation: 1.8s shimmer linear infinite;
}
@-webkit-keyframes shimmer {
  to {
    background-position-x: -200%;
  }
}

@keyframes shimmer {
  to {
    background-position-x: -200%;
  }
}

.info-top {
  background: url(../img/bg-saldo@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 1px solid #e2e4ea;
  margin-bottom: 8px;
  padding: 16px 16px 24px 16px;
}

.info-left .info-balance {
  color: #003478;
  font-size: 24px;
  font-weight: bold;
}

.info-left .info-name {
  color: #727272;
  font-size: 14px;
  font-weight: normal;
}

.info-right .image-logo {
  height: 50px;
  width: 50px;
}

.akun-list {
  list-style: none;
  margin: 0;
  margin-bottom: 8px;
  padding-left: 0;
  height: max-content;
}
.akun-item {
  margin-bottom: 1px;
}
.akun-content {
  background-color: #fff;
  display: flex;
  padding: 16px;
  text-decoration: none;
}
.akun-icon {
  margin-right: 16px;
}
.akun-icon img {
  height: 24px;
  width: 24px;
}
.akun-text {
  gap: 2px;
}
.akun-title {
  color: #727272;
  font-size: 12px;
  font-weight: normal;
}
.akun-name {
  color: #242424;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
}

.action-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  height: max-content;
}
.action-content {
  background-color: #fff;
  display: flex;
  padding: 16px;
  text-decoration: none;
}
.action-icon {
  margin-right: 16px;
}
.action-icon img {
  height: 24px;
  width: 24px;
}
.action-title {
  font-size: 14px;
  font-weight: bold;
}
.action-title.delete {
  color: #e82a2a;
}

.bt-sheet {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
}
.bt-sheet[aria-hidden="true"] {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.bt-sheet .bt-sheet-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: #242424;
  opacity: 0.5;
}
.bt-sheet[aria-hidden="true"] .bt-sheet-overlay {
  visibility: hidden;
}
.bt-sheet-contents {
  background: #fff;
  border-radius: 16px 16px 0 0;
  position: relative;
  overflow-y: hidden;
  --default-transitions: transform 0.5s, border-radius 0.5s;
  transition: var(--default-transitions);
  transform: translateY(0);
  max-height: 100vh;
  max-width: 70rem;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 2rem;
}
.bt-sheet-contents:not(.not-selectable) {
  transition: var(--default-transitions), height 0.5s;
}
.bt-sheet-contents.fullscreen {
  border-radius: 0;
}
.bt-sheet[aria-hidden="true"] .bt-sheet-contents {
  transform: translateY(100%);
  visibility: hidden;
}
.bt-sheet .bt-sheet-draggable-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
  padding: .75rem 0;
  cursor: grab;
}
.bt-sheet .bt-sheet-draggable-thumb {
  background: #dcdcdc;
  border-radius: 0.125rem;
  height: 4px;
  width: inherit;
  max-width: 32px;
}
.bt-sheet-body {
  height: 100%;
  overflow-y: auto;
  cursor: auto;
}
.bt-sheet-body h2 {
  color: #242424;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}
.bt-sheet-body p {
  color: #727272;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 24px;
}
.bt-sheet-action {
  gap: 12px;
}
.bt-sheet-button {
  border: none;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px;
  outline: none;
  box-shadow: none !important;
}
.bt-sheet-button.false {
  background-color: #003478;
  color: #fff;
}
.bt-sheet-button.true {
  background-color: #e5eaf1;
  color: #003478;
}